.product-list{
    display: flex;
    flex-direction: row;
    width: 1210px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    flex-wrap: wrap;
    background-color: white;
}